   #logo{
        height: 100px;
        width: auto;
        float: left;
    }

    #title{
        float:left;
        padding: 1rem;
        font-size: 5rem;
        

    }

    .clearfix {
    content: "";
    clear: both;
    display: table;
    }

    #statement{
        font-size: 2.5rem;
        

    }
    
    .head{
        width: 50%;
        margin:0 auto;
        padding: 1rem;
        border: 1px solid black;
        border-radius: 1rem;
        background: #007bff;
    }

    .mybutton{
        width:50%;
        margin: 1rem auto;
    }
    .myfont{
        font-family: 'Boogaloo', cursive;
        
    }

    form{
        font-family: 'Boogaloo', cursive;
        font-size: 1rem;
        margin-top: 2rem;
    }
    .form-box{
        width: 50%;
    }
    .custom-select{
        width: 25%;
    }
